
.stats-container > .stats-grid:first-child > span::before {
    content: "\1F525";
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.stats-container > .stats-grid:last-child {
    background: linear-gradient(
        to right,
        rgba(102,124,232,100),
        rgba(116,79,168,100)
        );
    font-display: auto;
    back;
}

.stats-container > .stats-grid:last-child * {
    color: white;
}

.stats-grid:hover {
    box-shadow: 0 8px 12px rgba(0,0,0,0.4);
    translate: 5px;
}