
.stats-container > .stats-grid:first-child > span::before {
    content: "\1F525";
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.stats-container > .stats-grid:last-child {
    background: linear-gradient(
        to right,
        rgba(102,124,232,100),
        rgba(116,79,168,100)
        );
    font-display: auto;
    back;
}

.stats-container > .stats-grid:last-child * {
    color: white;
}

.stats-grid:hover {
    box-shadow: 0 8px 12px rgba(0,0,0,0.4);
    translate: 5px;
}

.workout-plan:nth-of-type(2) {
    background-color: rgb(255, 248, 186);
    border: solid;
    border-width: 5px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: rgb(243, 157, 19);
}