/* Fire_icon */

.stats-container > .stats-grid:first-child > span::before {
    content: "\1F525";
    font-size: 30px;
    display: block;
    flex-direction: column;
}

/* Background_card */
.stats-container > .stats-grid:last-child {
    background: linear-gradient(
        to right,
        rgba(102,124,232,1),
        rgba(116,79,168,1)
        );
}

.stats-container > .stats-grid:last-child * {
    color: white;
}

.stats-grid:hover {
    box-shadow: 0 8px 12px rgba(0,0,0,0.4);
    translate: 5px;
}

/* Training_card */

.workout-plan:nth-of-type(2) {
    background-color: rgb(255, 248, 186);
    border: solid;
    border-width: 5px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: rgb(243, 157, 19);
}

/* Exercise_card */

.exercise-item:first-child, .exercise-item:last-child {
    background-color: rgb(240, 255, 244);
    border-color: rgb(47, 204, 114);
}

.exercise-item:nth-of-type(2):before, .exercise-item:nth-of-type(4):before {
    content: "\26A1";
    font-size: 20px;
}

/* Progress_bar */

.progress-bar {
    position: relative;
}

.progress-fill::after {
    content: "65%";
    font-size: 10px;
    color: white;
    position: absolute;
    top: -2px;
    right: 10px;
}

/* Quotation_marks */

.quote-box::before {
    content: '"' ;
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgba(255, 147, 200, 0.185);
}
.quote-box::after {
    content: '"' ;
    position: absolute;
    bottom: 25px;
    right: 105px;
    color: rgba(255, 147, 200, 0.185);
}

/* Border_Input */

input[type="number"]:focus, input[type="text"]:focus, select:focus  {
    outline: none;
    border-width: 2px;
    border-color: blue;
    box-shadow: 0 8px 12px rgba(3, 5, 158, 0.4);
}

/* Button_Save */

button:hover {
    background-color: rgb(6, 113, 175);
    translate: 2px;
    box-shadow: 0 8px 12px rgba(0, 3, 206, 0.596);
}

/* Navigation_item */

.nav-item:hover {
    background-color: rgba(53, 0, 177, 0.774);
    color: rgb(3, 3, 122);
    box-shadow: 0 8px 12px rgba(0, 3, 206, 0.829);
    translate: 2px;
}

.nav-footer > a:first-child {
    background-color: rgba(53, 0, 177, 0.774);
    color: rgb(3, 3, 122);
    box-shadow: 0 8px 12px rgba(0, 3, 206, 0.829);
    translate: 2px;
}
